<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"> 
<html lang="en">
  <head>
  	<title>My page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" type="text/css"href="/css/style.css"/>
	<th:block th:replace="~{./include/basicLayout :: setContent(~{ :: .wrap  } ) }"> 
	</head>
	
	<body class="img js-fullheight" style=background-image:url("/img/mypage.jpg");>
	<header class="wrap">
	</header>
	<section class="ftco-doc-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">My Page</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">회원정보 수정</h3>
		      	<form action="userUpdateForm" method="post" class="signin-form">
		      		<div class="form-group">
		      			<input type="text" name="userName" class="form-control" placeholder="Username" th:value="${vo.userName}" required>
		      		</div>
	               <div class="form-group">
	             		 <input id="text" name="userPhoneNumber" class="form-control" placeholder="Phonenumber" th:value="${vo.userPhoneNumber}" required>
	            </div>
		      		<div class="form-group">
		      			<input type="text" name="userId" class="form-control" placeholder="ID" th:value="${vo.userId}" readonly>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" name="userPw" class="form-control" placeholder="Password" required>
	              	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            
	            <div class="form-group">
	              <input id="password-field" type="password" name="userNewPw"class="form-control" placeholder="NewPassword" required>
	              	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            
	            <div class="form-group">
	              <input id="password-field" type="password" name="userNewPwCheck"class="form-control" placeholder="NewPassword Check" required>
	              	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	        	<div class="form-group">
	              <select class="form-control" name="userLocation">
	              <option value="서울" th:selected="${vo.userLocation == '서울'}">서울</option>
	           	  <option value="경남" th:selected="${vo.userLocation == '경기'}">경기</option>
	              <option value="경북" th:selected="${vo.userLocation == '경남'}">경남</option>
	              <option value="경북" th:selected="${vo.userLocation == '경북'}">경북</option>
				  <option value="전남" th:selected="${vo.userLocation == '전남'}">전남</option>
				  <option value="전북" th:selected="${vo.userLocation == '전북'}">전북</option>
				  <option value="충남" th:selected="${vo.userLocation == '충남'}">충남</option>
				  <option value="대전" th:selected="${vo.userLocation == '대전'}">대전</option>
				  <option value="광주" th:selected="${vo.userLocation == '광주'}">광주</option>	     
				  <option value="부산" th:selected="${vo.userLocation == '부산'}">부산</option>	    
				  <option value="제주" th:selected="${vo.userLocation == '제주'}">제주</option>	    
				  <option value="대구" th:selected="${vo.userLocation == '대구'}">대구</option>	    
				  <option value="인천" th:selected="${vo.userLocation == '인천'}">인천</option>	    
				  <option value="강원" th:selected="${vo.userLocation == '강원'}">강원</option>	    
				  <option value="울산" th:selected="${vo.userLocation == '울산'}">울산</option>             
				 </select>
	            </div>
	            </div>
	            <div class="form-group">
	              <input type="text" name="userLocationDetail" class="form-control" placeholder="Adress Detail" th:value="${vo.userLocationDetail}" required>
	            </div>
	            
	            
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
	            </div>
	          </form>
	            <form action="userDeleteForm" method="get" id="deleteSubmit" class="signin-form">
	             <div class="form-group">
	            	<button type="button" onclick="deleteUser()" id="deleteAccount" class="form-control btn btn-primary submit px-3">Delete my Account</button>
	            </div>
	             <div class="form-group">
	            </div>
	          </form>
	          <p class="w-100 text-center">&mdash; Other Object  &mdash;</p>
	          <div class="other_object">
	          <div class="social d-flex text-center">
	          	<a href="/pet/pdfPet" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>증명서</a>
	          </div>
	          <div class="social d-flex text-center">
	          	<a href="/pet/viewPetList" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>pet inform</a>
		      </div>
		       <div class="social d-flex text-center">
	          	<a href="/notice/noticeMyList" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>My List</a>
		      </div>
		      </div>
				</div>
			</div>
		</div>
	</section>
	

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script th:inline="javascript">
	var msg = JSON.parse('[[${msg}]]');
	if(msg != null){
		alert(msg);
	}
	
	function deleteUser(){
		event.preventDefault(); 
		
		if(confirm("정말 삭제 하시겠습니까?")){
			var link = "userDeleteForm"
			location.href = link;
		}
	}
  </script>
	</body>
</html>
