<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playdata.petCommunity.user.service.UserMapper">

	<select id="idCheck" resultType="int">
		select count(*) as total from user where user_id = #{user_id}
	</select>
	
	<insert id="join">
		insert into users(user_id, user_location, user_name, user_phone_number, user_pw)
		values(#{user_id}, #{user_location}, #{user_name}, #{user_phone_number}, #{user_pw})
	</insert>
	
	<select id="login" resultType="UserVO">
		select * from user where user_id = #{user_id} and user_pw = #{pw}
	</select>









</mapper>