<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

<th:block th:fragment="setContent( section )">


<head>
	<meta charset="UTF-8" />
	<!--공통 -->
	<link rel="stylesheet" type="text/css" href="/css/notice/index.css" />
	<link rel="stylesheet" type="text/css" href="/css/notice/footer.css" />
	<link rel="stylesheet" type="text/css" href="/css/notice/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/notice/loading.css" />  
	<link rel="stylesheet" type="text/css" href="/css/notice/loading.css" />  
	<link rel="stylesheet" type="text/css" href="/css/main.css" />  
	<link rel="stylesheet" type="text/css" href="/css/notice/jquery-ui.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<script src="/js/jquery-1.12.1.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/style.js"></script>
	 <script class="u-script" type="text/javascript" src="//static.nicepage.com/shared/assets/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="//capp.nicepage.com/092313a473ee6ecd75a4390950d61ba3fd443076/nicepage.js" defer=""></script>
    <link id="u-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

	<!--개인 -->
	<!-- 
	<link rel="stylesheet" type="text/css" href="../css/modal.css" />
	<script src="../js/modal.js"></script>
	 -->
	
</head>
<body>
<header class="u-clearfix u-header u-header" id="sec-cf75">
<div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1 u-enable-responsive" data-responsive-from="XL">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link u-text-body-alt-color" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="undefined"><use xlink:href="#svg-5c50"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-grey-40 u-text-hover-grey-70 active" href="/Page-1.html" data-page-id="66646" style="padding: 10px 20px;">Page 1</a>
<div class="u-nav-popup fake u-hidden">               <ul class="u-nav u-unstyled"><li class="u-nav-item"><a class="u-nav-link">Menu Item 1</a></li><li class="u-nav-item"><a class="u-nav-link">Menu Item 2</a></li><li class="u-nav-item"><a class="u-nav-link">Menu Item 3</a></li>               </ul>           </div></li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link active" href="/" data-page-id="66646">Main</a>
                <li class="u-nav-item"><a class="u-button-style u-nav-link active" href="/notice/noticeListAll" data-page-id="66646">Notice</a>
                <li class="u-nav-item"><a class="u-button-style u-nav-link active" href="/user/mypage" data-page-id="66646">Mypage</a>
                <li class="u-nav-item"><a class="u-button-style u-nav-link active" href="/maps/map" data-page-id="66646">Map</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        <style class="offcanvas-style">            .u-offcanvas .u-sidenav { flex-basis: 250px !important; }            .u-offcanvas:not(.u-menu-open-right) .u-sidenav { margin-left: -250px; }            .u-offcanvas.u-menu-open-right .u-sidenav { margin-right: -250px; }            @keyframes menu-shift-left    { from { left: 0;        } to { left: 250px;  } }            @keyframes menu-unshift-left  { from { left: 250px;  } to { left: 0;        } }            @keyframes menu-shift-right   { from { right: 0;       } to { right: 250px; } }            @keyframes menu-unshift-right { from { right: 250px; } to { right: 0;       } }            </style></nav>
      </div></header>

</th:block>

</html>
    
    
    
    
    